@import 'components/constants';
@import 'components/fonts';
@import 'components/mixins';
@import 'components/button-plus';
@import 'components/block-dashed';
@import 'components/button-golden';
@import 'components/bordered-block';

body {
  background-color: $bg-black;
}

.container, .container-fluid {
  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  @media (min-width: 768px) {
    max-width: 640px;
  }

  @media (min-width: 992px) {
    max-width: 830px;
  }

  @media (min-width: 1200px) {
    max-width: 940px;
  }  
}

@import 'header/index';
@import 'content/index';