.contacts {
  .col-xs-12 {
    @include last-margin(0);

    @media (max-width: $screen-xs-max) {
      margin-bottom: 25px;
    }
  }

  .email-text {
    margin-top: 20px;

    .white {
      color: $text-white;
      margin-right: 15px;
    }
  }

  .email-input {
    background: $bg-black;
    border-radius: 4px;
    box-shadow:
    inset 0 1px 1px 0 $footer-input-shadow-dark,
    inset 0 -1px 1px 0 $footer-input-shadow-bright;
    display: flex;
    height: 35px;
    justify-content: flex-start;
    margin-top: 17px;
    padding: 4px;

    > input {
      background: transparent;
      border: 0;
      color: $text-white;
      flex-grow: 1;
      padding-left: 6px;
    }

    > button {
      background: linear-gradient(to bottom, $footer-submit-btn-start, $footer-submit-btn-finish);
      border: 0;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px 0 $text-white;
      color: $footer-submit-btn;
      font-family: $font-helvetica;
      font-weight: bold;
      height: 26px;
      text-shadow: 0 1px 0 $footer-submit-btn-shadow;
      width: 77px;

      &:hover {
        background: linear-gradient(to bottom, $footer-submit-btn-hover-start, $footer-submit-btn-hover-finish);
        color: $footer-submit-btn-hover;
      }
    }
  }
}
