li.comment.feed-item
  .head
    .image
    h5= name
    p= position
    p.meta= site
  p.text
    | “Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet...”
