section.section-jumbotron.jumbotron
  .row
    .text-container.col-xs-12.col-lg-8
      h3 Join the cool kids and get your copy of Redux now....
      p Redux is avalaible for the ridiculously low, one-time cost of $37! That's right, I'm practically giving it away!
    .button-container.col-xs-12.col-lg-4
      - var buttonTitle = "Yes, I want this theme now!"
      include ./../components/button-golden.pug
