li.tweet.feed-item
  p 
    a(href='#')
      | @JamesBliss 
    |  Hard to get get a balance for those that know their way around WP/HTML/CSS and those that don't I find 
    span.meta 33 minutes ago
  .separator
