extends ./../components/block-dashed.pug

block content
  .row.feature
    .col-xs-12.col-lg-8
      .row
        include news.pug
        include news.pug
        include news.pug
        include news.pug
    .col-xs-12.col-lg-4.block-buttons
      h4.title Pixel Perfect Design
      p.text Gorgeous design with time and attention dedicated to every pixel. Gorgeous design with time and attention dedicated to every pixel. Time and attention
      .buttons
        - var buttons = ['Feature Tour', 'Purchase Now!']
        each buttonTitle in buttons
          include ./../components/button-golden.pug
