header
  include navbar.pug

  div.container
    div.title
      h2 The Theme You’ve Been Waiting For. Seriously.
      p.subtitle 
        | A beautiful, unique, powerful, WordPress theme that oooozes quality, is jammed-packed with features,
        | is ripe for customisation and better yet, kind to your wallet - sounds almost too good to be true!

  include slider.pug
  include feature.pug