.news.col-xs-12.col-sm-6.col-lg-6
  .image
    include ./../components/button-plus.pug
  h4.title Pixel Perfect Design
  p.text Gorgeous design with time and attention dedicated to each and every pixel.
