.container-fluid.slider
  .container-fluid.slider-container
    .container.slides
      .slide
        img(src='/images/screen-1.png', alt='')
      .slide
        img(src='/images/screen-2.png', alt='')
      .slide
        img(src='/images/screen-3.png', alt='')

    .arrow.left
      span.glyphicon.glyphicon-chevron-left
    .arrow.right
      span.glyphicon.glyphicon-chevron-right
