div.container-fluid.slider
  div.container-fluid.slider-container
    div.container.slides
      div.slide
        img(src="/images/screen-1.png")
      div.slide
        img(src="/images/screen-2.png")
      div.slide
        img(src="/images/screen-3.png")

    div.arrow.left
      span.glyphicon.glyphicon-chevron-left
    div.arrow.right
      span.glyphicon.glyphicon-chevron-right

  div.light