div.container-fluid.slider
  div.container
    div.slide.left
      img(src="/images/screen-1.png")
    div.slide.middle
      img(src="/images/screen-2.png")
    div.slide.right
      img(src="/images/screen-3.png")