.copyright.container
  .row
    .col-xs-12.col-sm-6
      |Copyright 2010 
      a.light(href='#') Redux Theme
      |. All Rights Reserved.
    .col-xs-12.col-sm-6.author
      |Powered by 
      a.light(href='#') WordPress
      |. 
      a.light(href='#') Redux Theme
      |  by 
      a.white(href='#') Orman