.content {
  background: $content-bg;
  color: $text;
  font-family: Helvetica Neue Regular;
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  padding: 0;

  &::before,
  &::after {
    display: block;
    height: 10px;
    width: 100%;
  }

  &::before {
    background: linear-gradient(to top, $content-border-bg, $content-border-bg 8px, $bg-black);
    margin-bottom: 50px;
  }

  &::after {
    background: $content-border-bg;
    margin-top: 67px;
  }

  h4 {
    color: $header;
    font-family: Helvetica Neue Bold;
    font-size: 14px;
    margin-bottom: 26px;
    margin-top: 0;
  }

  @import 'text';
  @import 'jumbotron';
  @import 'news';
}
