.section-jumbotron {
  background: linear-gradient(to bottom, $content-jumbotron-bg-start, $content-jumbotron-bg-finish);
  border: 1px solid $content-jumbotron-border;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 $content-jumbotron-shadow;
  margin-bottom: 0;
  margin-top: 59px;
  padding: 18px 20px 18px 25px;

  .text-container {
    > h3 {
      @include italic-font;

      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    > p {
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 4px;
    }
  }

  .button-container {
    text-align: right;
  }

  @media (max-width: $screen-md-max) {
    .text-container {
      h3,
      p {
        text-align: center;
      }
    }

    .button-container {
      padding-top: 13px;
      text-align: center;
    }
  }
}
