section.text {
  .image {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .border {
      border-color: rgba(0, 0, 0, 0.03);
    }

    img {
      max-width: 100%;
    }
  }
}