.section-text {
  @include column-margins;

  p {
    @include last-margin(0);

    margin-bottom: 25px;
  }

  .bordered {
    .well {
      margin-bottom: 30px;
    }

    &:last-child {
      .well {
        margin-bottom: 0;
      }
    }

    .border {
      border-color: $content-text-image-border;
    }

    img {
      width: 100%;
    }

    &.widget {
      .well {
        margin-top: 19px;
      }
    }
  }

  .widget {
    .bordered-content {
      background: url('/images/widget-bg.png');
      box-shadow: inset 0 0 80px $content-text-widget-shadow;
      display: flex;
      flex-direction: column;
      height: 210px;
      justify-content: center;
      text-align: center;

      h2 {
        color: $text-white;
        font-size: 34px;
        font-weight: bold;
        margin: 0;
      }

      .subtitle {
        @include italic-font;

        color: $content-text-widget-subtitle;
        font-size: 11px;
        line-height: 25px;
        margin: 0;
      }

      .border {
        border-color: $content-text-widget-border;
      }
    }
  }
}
