.section-text {
  .image {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .border {
      border-color: $content-text-image-border;
    }

    img {
      max-width: 100%;
    }
  }
}
