block vars

div(class='bordered ' + addClass)
  .bordered-container
    .bordered-content
      block content
      .border
      include ./../components/button-plus.pug
    .well.well-sm= text
