div(
  class="bordered " + "image"
)
  div.bordered-container
    div.bordered-content
      block content
      div.border
      include ./../components/button-plus.pug
    div.well.well-sm= text