.bordered {
  text-align: center;

  > .bordered-container {
    display: inline-block;

    @import 'bordered-block-content';

    > .well {
      background: $well-bg;
      border-radius: 4px;
      box-shadow:
      inset 0 1px 1px 0 $well-shadow-inner,
      0 1px 1px 0 $well-shadow-outer;
      color: $well-text;
      font-family: Georgia;
      font-size: 11px;
      font-style: italic;
      padding: 5px 0;
      text-align: center;
    }
  }
}
