.button-golden {
  background: linear-gradient(to bottom, $btn-golden-start, $btn-golden-finish);
  border: 0;
  border-radius: 18px;
  box-shadow:
  inset 0 -1px 1px 1px $btn-golden-shadow,
  0 0 2px 3px $btn-golden-shadow-wide;
  font-family: Georgia;
  font-size: 14px;
  font-style: italic;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;

  &:hover {
    background: linear-gradient(to top, $btn-golden-start, $btn-golden-finish);
  }

  > span {
    color: $btn-golden-text;
    font-weight: 500;
    text-shadow: 0 0 1px $btn-golden-shadow-text;
  }
}
