$bg-black: #1c1c1c;

$header-border: #bb6133;
$header-bg: #813d1a;

$text-white: #f1eee5;
$text-grey: #979797;
$text: #444444;
$header: #333333;

$arrow-black: #12161b;
$separator-black: #0f0f0f;
$separator-grey: #262626;
$header-subtitle :#f5b99a;

$dashed: #454545;
$feature-image-bg: #d0d0d0;
$btn-plus-start: #fcfcfc;
$btn-plus-finish: #d3d3d3;
$btn-plus-color: #646464;
$btn-golden-start: #f3e3ad;
$btn-golden-finish: #dfbd46;

$content-bg: #f4f2ed;
$content-border-bg: #e2dfd6;
$well-text: #888888;
$well-bg: #ece9e2;