@mixin hide-on-narrow {
  @media (max-width: 991px) {
    display: none;
  }
}

@mixin arrow-shade {
  &::before {
    text-shadow: 0 1px $arrow-shade;
  }
}

@mixin last-margin($margin) {
  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    &:last-child {
      margin-bottom: $margin;
    }
  }
}
