.feature {
  .news {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    @media(min-width: 768px) {
      &:nth-child(2) {
        margin-top: 0;
      }
    }

    .image {
      background: $feature-image-bg;
      box-shadow: 0 0 5px 0 $feature-image-shadow;
      float: left;
      height: 55px;
      margin-right: 15px;
      position: relative;
      width: 55px;

      .button-plus {
        left: -7px;
        top: -7px;
      }
    }
  }

  .block-buttons {
    @media(max-width: 1199px) {
      margin-top: 30px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
    }
  }
}
