.feature {
  .news {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    @media(min-width: $screen-sm-min) {
      &:nth-child(2) {
        margin-top: 0;
      }
    }

    .image {
      @include avatar($feature-image-bg)

      .button-plus {
        left: -7px;
        top: -7px;
      }
    }
  }

  .block-buttons {
    @media(max-width: $screen-md-max) {
      margin-top: 30px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
    }
  }
}
