header {
  background:
  radial-gradient(circle at center 160px, $header-bg-light, transparent 75%),
  linear-gradient(to right, $header-bg-fadeout, transparent 100px),
  linear-gradient(to left, $header-bg-fadeout, transparent 100px),
  url('images/header-bg.png') repeat, $header-bg;
  border-top: 1px solid $header-border;
  margin-top: 7px;
  position: relative;

  > .container > .title {
    margin: 61px auto 55px;
    max-width: 840px;
    text-align: center;

    h2 {
      @include italic-font;

      color: $text-white;
      font-size: 26px;
      margin-bottom: 20px;
      text-shadow: 0 1px 3px $header-text-title;
    }

    .subtitle {
      color: $header-subtitle;
      font-size: 18px;
      line-height: 32px;
      text-shadow: 0 1px 1px $header-text-title;
      vertical-align: top;
    }
  }

  @import 'navbar';
  @import 'slider';
  @import 'feature';
}
