.navbar {
  margin-bottom: 0;
  margin-top: 5px;
  min-height: 30px;

  @media (min-width: $screen-sm-min) {
    margin: 37px 0 0;
  }

  a {
    color: $text-white;
  }

  .navbar-header {
    @import 'navbar-brand';

    @import 'navbar-toggle';

    @media (max-height: $screen-xs-max) {
      margin-bottom: 5px;
    }
  }

  @import 'navbar-nav';
}
