.navbar-nav {
  font-family: $font-neue-bold;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0 1px $navbar-nav-shadow;

  > li {
    > a > .arrow {
      @include arrow-shade;

      color: $arrow-black;
      margin-left: 5px;
      position: relative;
      top: 3px;

      @media (max-width: $screen-xs-max) {
        float: right;
        left: 5px;
      }
    }

    &:hover > a,
    &.open > a,
    &:focus > a {
      background: $bg-black;

      > .arrow {
        color: $text-white;
      }
    }

    @import 'navbar-dropdown';
  }

  @media (min-width: $screen-sm-min) {
    > li {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      > a {
        border-radius: 4px;
        padding: 5px 10px;
      }

      &.dropdown {
        > .dropdown-menu {
          border-radius: 4px;
          left: 0;
          margin-top: 10px;
          padding: 13px 18px 15px;
          right: auto;

          li > a {
            padding: 0;
          }
        }
      }
    }
  }
}
