&.dropdown {
  .dropdown-menu {
    background: $bg-black;
    box-shadow: 0 1px 1px $navbar-dropdown-shadow;
    font-family: Helvetica Neue Regular;
    font-size: 12px;
    min-width: 180px;

    @import 'navbar-dropdown-element';

    > .divider {
      background: $separator-grey;
      border-top: 1px solid $separator-black;
      height: 2px;
      margin: 0;
    }
  }
}
