.navbar {
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 0px;

  @media (min-width: 768px) {
    margin: 37px 0 0 0;
  }

  a {
    color: $text-white;
  }

  .navbar-header {
    .navbar-brand {
      margin-left: 0px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 30px;

      @media (min-width: 768px) {
        padding: 2px 0 0 0;
      }

      .big {
        font-family: Ronnia;
        font-size: 34px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      }
      .small {
        font-family: Georgia;
        font-style: italic;
        opacity: 0.35;
        letter-spacing: 0px;

        text-shadow: 0 -1px rgba(0, 0, 0, 0.5);

        @include hide-on-narrow();
      }
      .separator {
        margin-left: 8px;
        margin-right: 8px;
        &:before {
          content: "|";
        }

        @include hide-on-narrow();
      }
    }

    .navbar-toggle {
      border: 2px solid $bg-black;
      padding: 4px;
      margin: 2px 15px 0 0;
      .icon-bar {
        background-color: $bg-black;
      }
      
      &.toggle, &:not(.collapsed) {
        border-color: $text-white;
        background-color: $bg-black;
        .icon-bar {
          background-color: $text-white;
        }
      }
    }
    
    @media (max-height: 767px) {
      margin-bottom: 5px;
    }
  }
    
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Helvetica Neue Bold;
    font-size: 13px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);

    > li{
      > a > .arrow {
        position: relative;
        margin-left: 6px;
        color: $arrow-black;
        top: 5px;
        float: right;

        &:before {
          text-shadow: 0 1px rgba(255, 255, 255, 0.12);
        }
      }
        
      &:hover > a, &.open > a, & > a:focus {
          background: $bg-black;

          > .arrow {
            color: $text-white;
        }
      }
      
      &.dropdown .dropdown-menu {
        font-family: Helvetica Neue;
        font-size: 12px;
        min-width: 180px;
        background: $bg-black;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        
        li > a {
          line-height: 28px;
          display: flex;
          justify-content: space-between;
          font-weight: 500;
          text-shadow: 0 1px 1px #000;
          
          &:hover, &:focus {
            background: transparent;
            color: $text-white;

            > .text {
              transform: translateX(17px);
            }
            
            > .arrow {
              color: $text-white;
            }
          }

          > .arrow {
            color: $arrow-black;
            top: 7px;
            text-shadow: 0 1px rgba(255, 255, 255, 0.07);
          }
        }
        
        > .divider {
          border-top: 1px solid $separator-black;
          background: $separator-grey;
          height: 2px;
          margin: 0;
        }
        
      }
    }
    
    @media (min-width: 768px) {
      > li {
        margin-left:  10px;
          
        &:first-child {
          margin-left: 0;
        }

        > a {
          padding: 5px 10px;
          border-radius: 4px;
        }
      
        &.dropdown {
          > .dropdown-menu {
            left: 0;
            right: auto;
            margin-top: 10px;
            border-radius: 4px;
            padding: 13px 15px 18px 15px;
            
            li > a {
              padding: 0;
            }
          }
        }
      }
    }
  }
}