.navbar-brand {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  margin-left: 0;

  @media (min-width: 768px) {
    padding: 2px 0 0;
  }

  .big {
    font-family: Ronnia;
    font-size: 34px;
    text-shadow: 0 1px 1px $brand-text-shadow-big;
  }

  .small {
    @include hide-on-narrow;
    @include italic-font;

    letter-spacing: 0;
    opacity: .35;
    text-shadow: 0 -1px $brand-text-shadow-small;
  }

  .separator {
    @include hide-on-narrow;

    margin-left: 8px;
    margin-right: 8px;

    &::before {
      content: '|';
    }
  }
}
